* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

header {
  background: #1B1B1B;
  color: white;
}

.test-container {
  background: #1E1E1E;
  color: white;
  margin: 2em;
  padding: 3em;
  border-radius: 1em;
  border: 2px solid black;
  box-shadow: 0 0 1em aqua;
}

h1 {
  color: red;
}

.test-container h1 {
  color: blue;
}