@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* .test {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
}

:root {
  --light-color1: #202022; /* Dark */
  --light-color2: #7678ed; /* blue */
  --light-color3: #ff7a55; /* orange */
  --light-color4: #f9fafc; /* white */
  --dark-color1: #131313; /* black */
  --dark-color2: #2e333d; /* dimgrey */
  --dark-color3: #6b8afd; /* skyblue */
  --dark-color4: #ffffff; /* white 100 */
  --space-color1: #8600FF; /* fyal */
}

body {
  background: var(--dark-color1);
  font-family: "Rubik", serif;
  color: var(--space-color1);
}

header {
  text-align: center;
  padding: 1em;
  background: var(--dark-color2);
  color: var(--dark-color4);
  font-size: .8em;
  border-radius: 0 0 1em 1em;
}

main {
  display: flex;
  flex-direction: column;
  padding: .5em;
  text-align: center;
}

.index-main {
  display: flex;
  flex-direction: column;
  padding: .5em;
  height: 85vh;
  justify-content: center;
}

img {
  width: 4em;
  border-radius: 1em;
}

a {
  text-decoration: none;
  color: #BE08FF;
}

.container {
  background: var(--dark-color2);
  border: 1px solid var(--space-color1);
  padding: 1em .5em;
  border-radius: 1em;
  margin-block: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 1em;
  transition: all .6s ease;
}

.container:hover {
  box-shadow: 0 0 1em #BE08FF;
  margin-block: .7em;
}
/* content styles */

.links {
  margin-block: 1em;
}

.links-row-2 {
  display: flex;
  margin-inline: 1em;
  justify-content: space-between;
}

.link-row {
  width: 48.50%;
  height: 2em;
  font-size: 1.2em;
  background: var(--dark-color2);
  border: 1px solid var(--space-color1);
  border-radius: .5em;
  color: var(--space-color1);
  transition: all .6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-row:hover {
  box-shadow: 0 0 1em #BE08FF;
}