

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --cl0: black;
  --cl1: #121212;
  --cl2: #1E1E1E;
  --cl3: #FFCC00;
}

body {
  background: var(--cl1);
  color: white;
}

#back-link {
  background: var(--cl3);
  padding: .3em;
  border-radius: .3em;
  color: black;
  text-decoration: none;
  justify-self: end;
}

@media (max-width: 560px) {
  header {
    background: var(--cl2);
    padding: 1em;
    text-align: center;
  }
  
  header nav {
    display: flex;
    flex-direction: column;
    margin-block: .2em;
    align-items: center;
  }
  
  header nav a {
    color: var(--cl3);
    text-decoration: none;
    width: 5em;
    margin-block: .15em;
    transition: all .6s ease;
  }
  
  header nav a:hover {
    filter: drop-shadow(0 0 .5em var(--cl3));
    transform: scale(1.1);
  }
  
  main {
    padding: 1em;
  }
  
  .main-header h2 {
    margin-bottom: .5em;
  }
  
  .welcome-main {
    padding: 0;
  }
  
  .welcome-container {
    text-align: center;
    padding: 2em 1em;
  }
  
  .welcome-container-btn {
    background: var(--cl3);
    padding: .5em;
    border-radius: .5em;
    border: none;
    width: 7em;
    margin-block: .5em;
  }
  
  .game-box {
    border: 2px solid var(--cl3);
    border-radius: .5em;
    background: var(--cl2);
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    margin-block: .3em;
  }
  
  .game-box img {
    width: auto;
    border-radius: .3em .3em 0 0;
    border-bottom: 2px solid white;
  }
  
  .game-box div {
    padding: .5em;
  }
  
  .gamev-header {
    display: flex;
    align-items: center;
  }
  
  .gamev-header img {
    width: 5em;
    border: 2px solid var(--cl3);
    border-radius: 40%;
  }
  
  .gamev-header div {
    margin-inline: .5em;
  }
  
  .gamev-screens-box {
    overflow: hidden;
    margin: 1em 0;
    background: var(--cl2);
    padding: .5em .5em;
    border-radius: 1em;
  }
  
  .gamev-screens {
    overflow: auto;
    display: flex;
  }
  
  .gamev-screens img, .gamev-screens iframe {
    height: 10em;
    margin-inline: .1em;
    border: 2px solid var(--cl3);
    border-radius: .5em;
  }
  
  .gamev-info .gamev-panel {
    display: flex;
    align-items: center;
    padding: .5em 0;
  }
  
  .gamev-info .gamev-panel .download-btn {
    color: black;
    text-decoration: none;
    background: var(--cl3);
    border-radius: .5em;
    padding: .25em;
  }
  
  .gamev-info .gamev-panel h4 {
    border-right: 2px solid var(--cl3);
    padding: 0 .5em;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--cl2);
    padding: 1em .5em;
  }
}