@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
}

:root {
  --cl1: #484848;
  --cl2: #2B2B2B;
  --cl3: #111111;
}

body {
  background: var(--cl1);
}

header {
  display: flex;
  flex-direction: column;
  background: var(--cl3);
  color: white;
  padding: .5em;
  text-align: center;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#coin-img {
  width: 80%;
}

.balance {
  margin: 1em;
  color: white;
}

#coin-click {
  background: no-repeat;
  border: none;
  transition: all .1s ease;
}

#coin-click:active {
  transform: scale(0.99);
  filter: drop-shadow(0 0 .5em black);
}

#send-balance {
  padding: .5em;
  background: var(--cl2);
  border: 2px solid var(--cl1);
  border-radius: .5em;
  color: white;
}