* {
  margin: 0;
  padding: 0;
}

header {
  background: lightgrey;
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
}

.quiz {
  background: #CCCCCC;
  margin: .5em;
  padding: .5em;
  border: 2px solid #2E2E2E;
  border-radius: .3em;
}

.options {
  display: flex;
}

.option {
  background: #A5A5A5;
  width: 50%;
  margin: .2em;
  padding: .2em;
  border-radius: .3em;
}

form {
  display: flex;
  flex-direction: column;
}

form select {
  width: 50%;
}

form >* {
  margin: 1em .5em;
}